<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../Styles/main_styles.css" />
    <link rel="stylesheet" href="../Styles/introduction_styles.css" />
</head>

<body>
    <section class="page landscape" id="introduction">
        {% with %}
            {% set PageTitle = "Local Government Benchmarking Framework Report" %}
            {% set PageNumber = "03" %}
            {% include "Snippet_HeaderFooter.html" %}
        {% endwith %}
        {% include "Snippet_ ScotlandLAOutlines.html" %}
        <div id="text-content">
            <p>The Local Government Benchmarking Framework (LGBF) is a nationally co-ordinated initiative developed by SOLACE (Scotland) and COSLA, and supported by the Improvement Service. It provides a consistent and transparent approach to benchmarking across all 32 Scottish councils. Now well into its second decade, the LGBF continues to play a vital role in supporting evidence-based decision-making, enabling councils to compare performance, identify good practice, and drive improvement.</p>
            <p>This year's report is published at a time when councils continue to navigate sustained and deepening financial, workforce and demand pressures. The operating environment remains challenging; rising inflation, persistent workforce pressures, and the ongoing cost of living crisis have placed sustained strain on services and resources.</p>
            <p>Against this backdrop, Stirling Council remains focused on delivering high-quality, person-centred services that meet the needs of our diverse communities. The Council has demonstrated adaptability and innovation in responding to complex and shifting demands; sustaining core services while also piloting new approaches and delivery models.</p>
            <p>Partnership working continues to be a cornerstone of our approach. Strong and responsive relationships with local communities, third sector organisations, and private sector partners have enabled us to target support where it's needed most, protect vulnerable residents, and build community resilience.</p>
            <p>Our commitment to transparency and accountability is underpinned by our ongoing participation in the LGBF. The framework provides robust and accessible data that helps local residents, stakeholders, and decision-makers understand our performance within the wider national context. This evidence not only helps track progress and identify areas for development, but also supports shared learning and innovation across the sector.</p>
            <p>As Stirling Council looks ahead, the insights provided through the LGBF will remain central to shaping priorities, informing resource allocation, and ensuring continuous improvement in the delivery of public services.</p>
        </div>
    </section>
</body>