<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../Styles/main_styles.css" />
    <link rel="stylesheet" href="../Styles/overview_styles.css" />
</head>

<body>
    <section class="page landscape" id="Overview">
        {% with %}
        {% set PageTitle = "Overview" %}
        {% set PageNumber = "06" %}
        {% include "Snippet_HeaderFooter.html" %}
        {% endwith %}
        <div id="column1">
            <h2>Education</h2>
            {% with %}
                {% set GroupTitle = "Early Years" %}
                {% set id = "EarlyYears_GroupTable" %}
                {% set Group = GroupedLatestDataDict.get("Education").get("Early Years") %}
                {% set note = '' %}
                {% include "Snippet_GroupOverviewTable.html" %}
            {% endwith %}
            {% with %}
                {% set GroupTitle = "Primary Schools" %}
                {% set id = "PrimarySchools_GroupTable" %}
                {% set Group = GroupedLatestDataDict.get("Education").get("Primary Schools") %}
                {% set note = '' %}
                {% include "Snippet_GroupOverviewTable.html" %}
            {% endwith %}
            {% with %}
                    {% set GroupTitle = "Secondary Schools" %}
                    {% set id = "SecondarySchools_GroupTable" %}
                    {% set Group = GroupedLatestDataDict.get("Education").get("Secondary Schools") %}
                    {% set note = '' %}
                    {% include "Snippet_GroupOverviewTable.html" %}
                {% endwith %}
        </div>
        <div id="column2">
            {% with %}
                {% set GroupTitle = "School Attendance" %}
                {% set id = "SchoolAttendance_GroupTable" %}
                {% set Group = GroupedLatestDataDict.get("Education").get("School Attendance") %}
                {% set note = '' %}
                {% include "Snippet_GroupOverviewTable.html" %}
            {% endwith %}
            {% with %}
                {% set GroupTitle = "School Leaver Tariff" %}
                {% set id = "SchoolLeaverTariff_GroupTable" %}
                {% set Group = GroupedLatestDataDict.get("Education").get("School Leaver Tariff") %}
                {% set note = '' %}
                {% include "Snippet_GroupOverviewTable.html" %}
            {% endwith %}
            {% with %}
                {% set GroupTitle = "Satisfaction" %}
                {% set id = "Other_GroupTable" %}
                {% set Group = GroupedLatestDataDict.get("Education").get("Other") %}
                {% set note = '' %}
                {% include "Snippet_GroupOverviewTable.html" %}
            {% endwith %}
            <h2>Care</h2>
            {% with %}
                {% set GroupTitle = "Social Work (Looked After Children)" %}
                {% set id = "ChildrenFamiliesSocialWork_GroupTable" %}
                {% set Group = GroupedLatestDataDict.get("Care").get("Children & Families Social Work") %}
                {% set note = '' %}
                {% include "Snippet_GroupOverviewTable.html" %}
            {% endwith %}
        </div>
    </section>
</body>

</html>