<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../Styles/main_styles.css" />
        <link rel="stylesheet" href="../Styles/overview_styles.css" />
    </head>

    <body>
        <section class="page landscape" id="Overview">
            {% with %}
                {% set PageTitle = "Overview" %}
                {% set PageNumber = "07" %}
                {% include "Snippet_HeaderFooter.html" %}
            {% endwith %}
            <div id="column1">
                {% with %}
                    {% set GroupTitle = "School Leaver Tariff" %}
                    {% set id = "SchoolLeaverTariff_GroupTable" %}
                    {% set Group = GroupedLatestDataDict.get("Children's Services").get("School Leaver Tariff") %}
                    {% include "Snippet_GroupOverviewTable.html" %}
                {% endwith %}
                {% with %}
                    {% set GroupTitle = "Secondary Schools" %}
                    {% set id = "SecondarySchools_GroupTable" %}
                    {% set Group = GroupedLatestDataDict.get("Children's Services").get("Secondary Schools") %}
                    {% include "Snippet_GroupOverviewTable.html" %}
                {% endwith %}
                <h2>Corporate Services</h2>
                {% with %}
                    {% set GroupTitle = "Absence" %}
                    {% set id = "Absence_GroupTable" %}
                    {% set Group = GroupedLatestDataDict.get("Corporate Services").get("Absence") %}
                    {% include "Snippet_GroupOverviewTable.html" %}
                {% endwith %}
                {% with %}
                    {% set GroupTitle = "Corporate Property Assets" %}
                    {% set id = "CorporatePropertyAssets_GroupTable" %}
                    {% set Group = GroupedLatestDataDict.get("Corporate Services").get("Corporate Property Assets") %}
                    {% include "Snippet_GroupOverviewTable.html" %}
                {% endwith %}
                </div>
            <div id="column2">
                {% with %}
                    {% set GroupTitle = "New Indicators" %}
                    {% set id = "NewIndicators_GroupTable" %}
                    {% set Group = GroupedLatestDataDict.get("Corporate Services").get("New Indicators") %}
                    {% include "Snippet_GroupOverviewTable.html" %}
                {% endwith %}
                {% with %}
                    {% set GroupTitle = "Council Tax" %}
                    {% set id = "CouncilTax_GroupTable" %}
                    {% set Group = GroupedLatestDataDict.get("Corporate Services").get("Council Tax") %}
                    {% include "Snippet_GroupOverviewTable.html" %}
                {% endwith %}
                {% with %}
                    {% set GroupTitle = "Financial Position" %}
                    {% set id = "FinancialPosition_GroupTable" %}
                    {% set Group = GroupedLatestDataDict.get("Corporate Services").get("Financial Position") %}
                    {% include "Snippet_GroupOverviewTable.html" %}
                {% endwith %}
                {% with %}
                    {% set GroupTitle = "Gender Pay Gap" %}
                    {% set id = "GenderPayGap_GroupTable" %}
                    {% set Group = GroupedLatestDataDict.get("Corporate Services").get("Gender Pay Gap") %}
                    {% include "Snippet_GroupOverviewTable.html" %}
                {% endwith %}
                <h2>Culture & Leisure Services</h2>
                {% with %}
                    {% set GroupTitle = "Leisure Facilities & Attractions" %}
                    {% set id = "LeisureFacilitiesAttractions_GroupTable" %}
                    {% set Group = GroupedLatestDataDict.get("Culture & Leisure Services").get("Leisure Facilities & Attractions") %}
                    {% include "Snippet_GroupOverviewTable.html" %}
                {% endwith %}
            </div>
        </section>
    </body>
</html>