<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../Styles/main_styles.css" />
        <link rel="stylesheet" href="../Styles/overview_styles.css" />
    </head>

    <body>
        <section class="page landscape" id="Overview">
            {% with %}
                {% set PageTitle = "Overview" %}
                {% set PageNumber = "07" %}
                {% include "Snippet_HeaderFooter.html" %}
            {% endwith %}
            <div id="column1">
                {% with %}
                {% set GroupTitle = "At Home Care" %}
                {% set id = "AdultCareAtHomeCare_GroupTable" %}
                {% set Group = GroupedLatestDataDict.get("Care").get("Adult Care - At Home Care") %}
                {% include "Snippet_GroupOverviewTable.html" %}
            {% endwith %}
            {% with %}
                {% set GroupTitle = "Adult Health Care" %}
                {% set id = "AdultCareAdultHealthCare_GroupTable" %}
                {% set Group = GroupedLatestDataDict.get("Care").get("Adult Care - Adult Health Care")%}
                {% include "Snippet_GroupOverviewTable.html" %}
            {% endwith %}
            <h2>Environment</h2>
            {% with %}
                {% set GroupTitle = "Waste & Recycling" %}
                {% set id = "WasteRecycling_GroupTable" %}
                {% set Group = GroupedLatestDataDict.get("Environment").get("Waste & Recycling") %}
                {% include "Snippet_GroupOverviewTable.html" %}
            {% endwith %}
                </div>
            <div id="column2">
                {% with %}
                {% set GroupTitle = "Road Maintenance"%}
                {% set id = "RoadMaintenance_GroupTable" %}
                {% set Group = GroupedLatestDataDict.get("Environment").get("Road Maintenance") %}
                {% include "Snippet_GroupOverviewTable.html" %}
            {% endwith %}
            {% with %}
                {% set GroupTitle = "Parks & Open Spaces" %}
                {% set id = "ParksOpenSpaces_GroupTable" %}
                {% set Group = GroupedLatestDataDict.get("Environment").get("Parks & Open Spaces") %}
                {% include "Snippet_GroupOverviewTable.html" %}
            {% endwith %}
            {% with %}
                    {% set GroupTitle = "Climate Change" %}
                    {% set id = "ClimateChangeEmissions_GroupTable" %}
                    {% set Group = GroupedLatestDataDict.get("Environment").get("Climate Change Emissions") %}
                    {% include "Snippet_GroupOverviewTable.html" %}
            {% endwith %}
            {% with %}
                {% set GroupTitle = "Street Cleaning" %}
                {% set id = "StreetCleaning_GroupTable" %}
                {% set Group = GroupedLatestDataDict.get("Environment").get("Street Cleaning") %}
                {% include "Snippet_GroupOverviewTable.html" %}
            {% endwith %}
            </div>
        </section>
    </body>
</html>