<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../Styles/main_styles.css" />
        <link rel="stylesheet" href="../Styles/overview_styles.css" />
    </head>

    <body>
        <section class="page landscape" id="Overview">
            {% with %}
                {% set PageTitle = "Overview" %}
                {% set PageNumber = "08" %}
                {% include "Snippet_HeaderFooter.html" %}
            {% endwith %}
            <div id="column1">
                    <h2>Economic Development</h2>
                    {% with %}
                        {% set GroupTitle = "Economic Growth" %}
                        {% set id = "EconomicGrowth_GroupTable" %}
                        {% set Group = GroupedLatestDataDict.get("Economic Development").get("Economic Growth") %}
                        {% include "Snippet_GroupOverviewTable.html" %}
                    {% endwith %}
                    {% with %}
                        {% set GroupTitle = "Employment" %}
                        {% set id = "Employment_GroupTable" %}
                        {% set Group = GroupedLatestDataDict.get("Economic Development").get("Employment") %}
                        {% include "Snippet_GroupOverviewTable.html" %}
                    {% endwith %}
                    {% with %}
                        {% set GroupTitle = "Planning" %}
                        {% set id = "Planning_GroupTable" %}
                        {% set Group = GroupedLatestDataDict.get("Economic Development").get("Planning") %}
                        {% include "Snippet_GroupOverviewTable.html" %}
                    {% endwith %}
                <h2>Environmental Services</h2>
                    {% with %}
                        {% set GroupTitle = "Cost of Regulation" %}
                        {% set id = "CostOfRegulation_GroupTable" %}
                        {% set Group = GroupedLatestDataDict.get("Environmental Services").get("Cost of Regulation") %}
                        {% include "Snippet_GroupOverviewTable.html" %}
                    {% endwith %}
            </div>
            <div id="column2">
                    {% with %}
                        {% set GroupTitle = "Road Maintenance" %}
                        {% set id = "RoadMaintenance_GroupTable" %}
                        {% set Group = GroupedLatestDataDict.get("Environmental Services").get("Road Maintenance") %}
                        {% include "Snippet_GroupOverviewTable.html" %}
                    {% endwith %}
                    {% with %}
                        {% set GroupTitle = "Street Cleaning" %}
                        {% set id = "StreetCleaning_GroupTable" %}
                        {% set Group = GroupedLatestDataDict.get("Environmental Services").get("Street Cleaning") %}
                        {% include "Snippet_GroupOverviewTable.html" %}
                    {% endwith %}
                    {% with %}
                        {% set GroupTitle = "Waste & Recycling" %}
                        {% set id = "WasteRecycling_GroupTable" %}
                        {% set Group = GroupedLatestDataDict.get("Environmental Services").get("Waste & Recycling") %}
                        {% include "Snippet_GroupOverviewTable.html" %}
                    {% endwith %}
                <h2>Financial Sustainability</h2>
                    {% with %}
                        {% set GroupTitle = "Financial Position" %}
                        {% set id = "FinancialPosition_GroupTable" %}
                        {% set Group = GroupedLatestDataDict.get("Financial Sustainability").get("Financial Position") %}
                        {% include "Snippet_GroupOverviewTable.html" %}
                    {% endwith %}
            </div>
        </section>
    </body>
</html>