<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../Styles/main_styles.css" />
    <link rel="stylesheet" href="../Styles/overview_styles.css" />
</head>

<body>
    <section class="page landscape" id="Overview">
        {% with %}
        {% set PageTitle = "Overview" %}
        {% set PageNumber = "09" %}
        {% include "Snippet_HeaderFooter.html" %}
        {% endwith %}
        <div id="column1">
            <h2>Corporate</h2>
            {% with %}
                {% set GroupTitle = "Council Tax" %}
                {% set id = "CouncilTax_GroupTable" %}
                {% set Group = GroupedLatestDataDict.get("Corporate").get("Council Tax") %}
                {% set note = '' %}
                {% include "Snippet_GroupOverviewTable.html" %}
            {% endwith %}
            {% with %}
                {% set GroupTitle = "Housing Rent" %}
                {% set id = "HousingManagementHomelessness_GroupTable" %}
                {% set Group = GroupedLatestDataDict.get("Corporate").get("Housing - Management & Homelessness") %}
                {% set note = '' %}
                {% include "Snippet_GroupOverviewTable.html" %}
            {% endwith %}
            {% with %}
                {% set GroupTitle = "Financial Position" %}
                {% set id = "FinancialPosition_GroupTable" %}
                {% set Group = GroupedLatestDataDict.get("Corporate").get("Financial Position") %}
                {% set note = '' %}
                {% include "Snippet_GroupOverviewTable.html" %}
            {% endwith %}
            {% with %}
                {% set GroupTitle = "Grants & Funding" %}
                {% set id = "GrantsFunding_GroupTable" %}
                {% set Group = GroupedLatestDataDict.get("Corporate").get("Grants & Funding") %}
                {% set note = 'Note: 2023-24 values for are an average of currently available quarterly values (Q4 is yet to be made available)' %}
                {% include "Snippet_GroupOverviewTable.html" %}
            {% endwith %}
        </div>
        <div id = "column2">
            {% with %}
                {% set GroupTitle = "Absence" %}
                {% set id = "Absence_GroupTable" %}
                {% set Group = GroupedLatestDataDict.get("Corporate").get("Absence") %}
                {% set note = '' %}
                {% include "Snippet_GroupOverviewTable.html" %}
            {% endwith %}
            {% with %}
                {% set GroupTitle = "Gender Pay Gap" %}
                {% set id = "GenderPayGap_GroupTable" %}
                {% set Group = GroupedLatestDataDict.get("Corporate").get("Gender Pay Gap") %}
                {% set note = '' %}
                {% include "Snippet_GroupOverviewTable.html" %}
            {% endwith %}
        </div>
    </section>
</body>

</html>