<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../Styles/main_styles.css" />
        <link rel="stylesheet" href="../Styles/CostOfRegulation_styles.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" />
    </head>
    <body>
        <section class="page landscape" id="CostOfRegulation">
            <div class="titlebar">
                {% with %}
                    {% set PageTitle = "Cost Of Regulation" %}
                    {% include "Snippet_Header.html" %}
                {% endwith %}
            </div>
            <div class="sidebar">
                {% include "Snippet_Sidebar.html" %}
            </div>
            <div class="datacard" id="ENV05_datacard">
                {% with %}
                    {% set Indicator = LatestData['ENV 05'] %}
                    {% include "Snippet_DataCard.html"%}
                {% endwith %}
            </div>
            <div class="datacard" id="ENV05a_datacard">
                {% with %}
                    {% set Indicator = LatestData['ENV 05a'] %}
                    {% include "Snippet_DataCard.html"%}
                {% endwith %}
            </div>
            <div class="datacard" id="ENV05b_datacard">
                {% with %}
                    {% set Indicator = LatestData['ENV 05b'] %}
                    {% include "Snippet_DataCard.html"%}
                {% endwith %}
            </div>
            <div class="commentbox" id="main_commentbox">
                <p>
                   No Submission
                </p>
             
            </div>
            <div class="graphtable_card" id="env05_graphtable_card">
                {% with %}
                {% set Title = LatestData['ENV 05']['Title'] %}
                {% set Graph = "../Graphs/ENV%2005_Line.svg" %}
                {% set FGRankData = LatestData['ENV 05']['timeseries'] %}
                {% include "Snippet_GraphTableCard.html"%}
                {% endwith %}
            </div>
            <div class="graphtable_card" id="env05a_graphtable_card">
                {% with %}
                {% set Title = LatestData['ENV 05a']['Title'] %}
                {% set Graph = "../Graphs/ENV%2005a_Line.svg" %}
                {% set FGRankData = LatestData['ENV 05a']['timeseries'] %}
                {% include "Snippet_GraphTableCard.html"%}
                {% endwith %}
            </div>
            <div class="graphtable_card" id="env05b_graphtable_card">
                {% with %}
                {% set Title = LatestData['ENV 05b']['Title'] %}
                {% set Graph = "../Graphs/ENV%2005b_Line.svg" %}
                {% set FGRankData = LatestData['ENV 05b']['timeseries'] %}
                {% include "Snippet_GraphTableCard.html"%}
                {% endwith %}
            </div>
        </section>
    </body>
</html>