<!DOCTYPE html>
<html>Snippet_Header.html
    <head>
        <link rel="stylesheet" href="../Styles/main_styles.css" />
        <link rel="stylesheet" href="../Styles/StreetCleaning_styles.css" />
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" />
    </head>
    <body>
        <section class="page landscape" id="StreetCleaning">
            <div class="titlebar">
                {% with %}
                    {% set PageTitle = "Street Cleaning" %}
                    {% include "Snippet_Header.html" %}
                {% endwith %}
            </div>
            <div class="sidebar">
                {% include "Snippet_Sidebar.html" %}
            </div>
            <div class="datacard" id="env03a_datacard">
                {% with %}
                    {% set Indicator = LatestData['ENV 03a'] %}
                    {% include "Snippet_DataCard.html"%}
                {% endwith %}
            </div>
            <div class="datacard" id="env03c_datacard">
                {% with %}
                    {% set Indicator = LatestData['ENV 03c'] %}
                    {% include "Snippet_DataCard.html"%}
                {% endwith %}
            </div>
            <div class="datacard" id="env07b_datacard">
                {% with %}
                    {% set Indicator = LatestData['ENV 07b'] %}
                    {% include "Snippet_DataCard.html"%}
                {% endwith %}
            </div>
            <div class="commentbox" id="main_commentbox">
                <p>
                    There has been a reduction in expenditure in street cleaning over the last reported period.  In 2019-20, over £21k was spent per 1000 people on street cleaning.  In 2020-21, this reduced to under £19k per 1000 people.  
                
                    Stirling Council's streets are cleaner than they are nationally.
                    <br><br>
                    COVID-19 has had a significant impact on this area. Litter picking services were paused and reduced as a result of restrictions, and as resources were redeployed towards emergency response and critical services. Additional costs arose from physical distancing service adaptations, some of which remain in place currently. The pause in litter picking, alongside the closure of recycling centres and the reported increase in fly tipping will all be important. 
                    <br><br>
                    Street cleanliness is presented using the Street Cleanliness Score, which is produced by Keep Scotland Beautiful.  This measures the percentage of areas assessed as 'clean' rather than completely litter free sites (considered impractical in areas of high footfall) and allows authorities to tackle litter problem areas to achieve better results. 

                </p>
               
            </div>
            <div class="graphtable_card" id="env03a_graphtable_card">
                {% with %}
                {% set Title = LatestData['ENV 03a']['Title'] %}
                {% set Graph = "../Graphs/ENV%2003a_Line.svg" %}
                {% set FGRankData = LatestData['ENV 03a']['timeseries'] %}
                {% include "Snippet_GraphTableCard.html"%}
                {% endwith %}
            </div>
            <div class="graphtable_card" id="env03c_graphtable_card">
                {% with %}
                {% set Title = LatestData['ENV 03c']['Title'] %}
                {% set Graph = "../Graphs/ENV%2003c_Line.svg" %}
                {% set FGRankData = LatestData['ENV 03c']['timeseries'] %}
                {% include "Snippet_GraphTableCard.html"%}
                {% endwith %}
            </div>
            <div class="graphtable_card" id="env07b_graphtable_card">
                {% with %}
                {% set Title = LatestData['ENV 07b']['Title'] %}
                {% set Graph = "../Graphs/ENV%2007b_Line.svg" %}
                {% set FGRankData = LatestData['ENV 07b']['timeseries'] %}
                {% include "Snippet_GraphTableCard.html"%}
                {% endwith %}
            </div>
    </body>
</section>
</body>
</html>
