<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../Styles/main_styles.css" />
        <link rel="stylesheet" href="../Styles/StreetCleaning_styles.css" />
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" />
    </head>
    <body>
        <section class="page landscape" id="StreetCleaning">
            <div class="titlebar">
                {% with %}
                    {% set PageTitle = "Street Cleaning" %}
                    {% include "Header.html" %}
                {% endwith %}
            </div>
            <div class="sidebar">
                {% include "Sidebar.html" %}
            </div>
            <div class="datacard" id="env03a_datacard">
                {% with %}
                    {% set Indicator = LatestData['ENV 03a'] %}
                    {% include "DataCard.html"%}
                {% endwith %}
            </div>
            <div class="datacard" id="env03c_datacard">
                {% with %}
                    {% set Indicator = LatestData['ENV 03c'] %}
                    {% include "DataCard.html"%}
                {% endwith %}
            </div>
            <div class="datacard" id="env07b_datacard">
                {% with %}
                    {% set Indicator = LatestData['ENV 07b'] %}
                    {% include "DataCard.html"%}
                {% endwith %}
            </div>
            <div class="commentbox" id="main_commentbox">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna
                    aliqua. Et leo duis ut diam quam. Tellus mauris a diam maecenas. Erat nam at lectus urna duis convallis
                    convallis tellus
                    id. Ullamcorper morbi tincidunt ornare massa eget egestas purus. Non sodales neque sodales ut etiam sit. Integer
                    vitae
                    justo eget magna fermentum iaculis eu. Congue nisi vitae suscipit tellus mauris a diam maecenas sed. Est lorem
                    ipsum
                    dolor sit amet consectetur adipiscing elit. Nec sagittis aliquam malesuada bibendum arcu vitae. Vitae tempus
                    quam
                    pellentesque nec nam. Odio aenean sed adipiscing diam. A iaculis at erat pellentesque adipiscing commodo elit at
                    imperdiet. Tempus urna et pharetra pharetra massa. Pharetra et ultrices neque ornare aenean euismod elementum.
                    Porttitor
                    lacus luctus accumsan tortor. Morbi leo urna molestie at elementum eu facilisis. Est sit amet facilisis magna
                    etiam
                    tempor orci eu lobortis. In hac habitasse platea dictumst vestibulum rhoncus est. Nisi porta lorem mollis
                    aliquam ut.
                </p>
                <p>
                    Proin sagittis nisl rhoncus mattis rhoncus urna. Sit amet nulla facilisi morbi tempus iaculis. Sed augue lacus
                    viverra
                    vitae congue eu consequat ac. Vulputate dignissim suspendisse in est. Dis parturient montes nascetur ridiculus
                    mus
                    mauris vitae. Adipiscing enim eu turpis egestas pretium aenean pharetra magna. Sit amet nulla facilisi morbi
                    tempus
                    iaculis urna. Id nibh tortor id aliquet lectus proin. Dictumst vestibulum rhoncus est pellentesque elit
                    ullamcorper
                    dignissim. Neque egestas congue quisque egestas diam in arcu cursus euismod. Tristique et egestas quis ipsum.
                </p>
                <p>
                    Mi in nulla posuere sollicitudin aliquam ultrices. Molestie nunc non blandit massa enim nec dui. Nec tincidunt
                    praesent
                    semper feugiat. Vitae justo eget magna fermentum iaculis eu non diam. Ut placerat orci nulla pellentesque
                    dignissim enim
                    sit amet venenatis. Massa sed elementum tempus egestas sed sed risus pretium quam. Pretium viverra suspendisse
                    potenti
                    nullam ac. Quis ipsum suspendisse ultrices gravida dictum fusce ut placerat. Tellus at urna condimentum mattis
                    pellentesque id nibh tortor id. Condimentum id venenatis a condimentum vitae. Faucibus scelerisque eleifend
                    donec
                    pretium. Scelerisque varius morbi enim nunc faucibus a pellentesque sit amet. Elementum facilisis leo vel
                    fringilla est
                    ullamcorper eget nulla. Neque vitae tempus quam pellentesque nec.
                </p>
                <p>
                    Ac turpis egestas integer eget aliquet nibh praesent. Turpis cursus in hac habitasse platea. Euismod nisi porta
                    lorem
                    mollis aliquam. Bibendum ut tristique et egestas quis. Fringilla ut morbi tincidunt augue interdum velit euismod
                    in.
                    Quam adipiscing vitae proin sagittis nisl rhoncus mattis. Platea dictumst vestibulum rhoncus est pellentesque
                    elit
                    ullamcorper dignissim. Magna fringilla urna porttitor rhoncus dolor purus non enim praesent. Eget sit amet
                    tellus cras
                    adipiscing enim eu turpis. Ultrices sagittis orci a scelerisque purus semper. Non enim praesent elementum
                    facilisis leo
                    vel fringilla. Aliquet porttitor lacus luctus accumsan tortor posuere ac ut. Adipiscing commodo elit at
                    imperdiet dui.
                    In hendrerit gravida rutrum quisque non tellus orci ac auctor.
                </p>
            </div>
            <div class="graphtable_card" id="env03a_graphtable_card">
                {% with %}
                {% set Title = LatestData['ENV 03a']['Title'] %}
                {% set Graph = "../Graphs/ENV%2003a_Line.svg" %}
                {% set FGRankData = LatestData['ENV 03a']['timeseries'] %}
                {% include "GraphTableCard.html"%}
                {% endwith %}
            </div>
            <div class="graphtable_card" id="env03c_graphtable_card">
                {% with %}
                {% set Title = LatestData['ENV 03c']['Title'] %}
                {% set Graph = "../Graphs/ENV%2003c_Line.svg" %}
                {% set FGRankData = LatestData['ENV 03c']['timeseries'] %}
                {% include "GraphTableCard.html"%}
                {% endwith %}
            </div>
            <div class="graphtable_card" id="env07b_graphtable_card">
                {% with %}
                {% set Title = LatestData['ENV 07b']['Title'] %}
                {% set Graph = "../Graphs/ENV%2007b_Line.svg" %}
                {% set FGRankData = LatestData['ENV 07b']['timeseries'] %}
                {% include "GraphTableCard.html"%}
                {% endwith %}
            </div>
    </body>
</section>
</body>
</html>
