<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../Styles/main_styles.css" />
    <link rel="stylesheet" href="../Styles/SocialWork_styles.css" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" />
</head>

<body>
    <section class="page landscape" id="SocialWork">
        <div class="titlebar">
            {% with %}
                {% set PageTitle = "Children & Families Social Work" %}
                {% include "Header.html" %}
            {% endwith %}
        </div>
        <div class="sidebar">
            {% include "Sidebar.html" %}
        </div>
        <div class="datacard" id="chn08a_datacard">
            {% with %}
                {% set Indicator = LatestData['CHN 08a'] %}
                {% include "DataCard.html"%}
            {% endwith %}
        </div>
        <div class="datacard" id="chn08b_datacard">
            {% with %}
                {% set Indicator = LatestData['CHN 08b'] %}
                {% include "DataCard.html"%}
            {% endwith %}
        </div>
        <div class="datacard" id="chn09_datacard">
            {% with %}
                {% set Indicator = LatestData['CHN 09'] %}
                {% include "DataCard.html"%}
            {% endwith %}
        </div>
        <div class="datacard" id="chn22_datacard">
            {% with %}
                {% set Indicator = LatestData['CHN 22'] %}
                {% include "DataCard.html"%}
            {% endwith %}
        </div>
        <div class="datacard" id="chn23_datacard">
            {% with %}
                {% set Indicator = LatestData['CHN 23'] %}
                {% include "DataCard.html"%}
            {% endwith %}
        </div>
        <div class="datacard" id="chn24_datacard">
            {% with %}
            {% set Indicator = LatestData['CHN 24'] %}
            {% include "DataCard.html"%}
            {% endwith %}
        </div>
        <div class="commentbox" id="main_commentbox">
            <p>
                Whilst services locally continue to tackle poverty through work to maximise income, raise attainment, and increase parental employability for example- the work is set within a national context of rising costs and increased levels of inequality caused
                by the pandemic. Local activity can only mitigate these wider impacts.
            </p>
        </div>
        <div class="graphtable_card" id="chn08a_graphtable_card">
            {% with %}
                {% set Title = LatestData['CHN 08a']['Title'] %}
                {% set Graph = "../Graphs/CHN%2008a_Line.svg" %}
                {% set FGRankData = LatestData['CHN 08a']['timeseries'] %}
                {% include "GraphTableCard.html"%}
            {% endwith %}
        </div>
        <div class="graphtable_card" id="chn08b_graphtable_card">
            {% with %}
                {% set Title = LatestData['CHN 08b']['Title'] %}
                {% set Graph = "../Graphs/CHN%2008b_Line.svg" %}
                {% set FGRankData = LatestData['CHN 08b']['timeseries'] %}
                {% include "GraphTableCard.html"%}
            {% endwith %}
        </div>
        <div class="graphtable_card" id="chn09_graphtable_card">
            {% with %}
                {% set Title = LatestData['CHN 09']['Title'] %}
                {% set Graph = "../Graphs/CHN%2009_Line.svg" %}
                {% set FGRankData = LatestData['CHN 09']['timeseries'] %}
                {% include "GraphTableCard.html"%}
            {% endwith %}
        </div>
        <div class="graphtable_card" id="chn22_graphtable_card">
            {% with %}
                {% set Title = LatestData['CHN 22']['Title'] %}
                {% set Graph = "../Graphs/CHN%2022_Line.svg" %}
                {% set FGRankData = LatestData['CHN 22']['timeseries'] %}
                {% include "GraphTableCard.html"%}
            {% endwith %}
        </div>
        <div class="graphtable_card" id="chn23_graphtable_card">
            {% with %}
                {% set Title = LatestData['CHN 23']['Title'] %}
                {% set Graph = "../Graphs/CHN%2023_Line.svg" %}
                {% set FGRankData = LatestData['CHN 23']['timeseries'] %}
                {% include "GraphTableCard.html"%}
            {% endwith %}
        </div>
        <div class="graphtable_card" id="chn24_graphtable_card">
            {% with %}
                {% set Title = LatestData['CHN 24']['Title'] %}
                {% set Graph = "../Graphs/CHN%2024_Line.svg" %}
                {% set FGRankData = LatestData['CHN 24']['timeseries'] %}
                {% include "GraphTableCard.html"%}
            {% endwith %}
        </div>
    </section>
</body>
</html>