<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../Styles/main_styles.css" />
        <link rel="stylesheet" href="../Styles/overview_styles.css" />
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" />
    </head>

    <body>
        <section class="page landscape" id="Overview">
            <div class="titlebar">
                {% with %}
                {% set PageTitle = "Overview" %}
                {% include "Header.html" %}
                {% endwith %}
            </div>
            <div class="sidebar">
                {% include "Sidebar.html" %}
            </div>
            <div id = "column1">
                <h2>Adult Social Care Services</h2>
                {% with %}
                    {% set GroupTitle = "Adult Care - At Home Care" %}
                    {% set id = "AdultCareAtHomeCare_GroupTable" %}
                    {% set Group = GroupedLatestDataDict.get("Adult Social Care Services").get("Adult Care - At Home Care") %}
                    {% include "GroupOverviewTable.html" %}
                {% endwith %}
                {% with %}
                    {% set GroupTitle = "Adult Care - Adult Health Care" %}
                    {% set id = "AdultCareAdultHealthCare_GroupTable" %}
                    {% set Group = GroupedLatestDataDict.get("Adult Social Care Services").get("Adult Care - Adult Health Care") %}
                    {% include "GroupOverviewTable.html" %}
                {% endwith %}
                <h2>Children's Services</h2>
                {% with %}
                    {% set GroupTitle = "Children & Families Social Work" %}
                    {% set id = "ChildrenFamiliesSocialWork_GroupTable" %}
                    {% set Group = GroupedLatestDataDict.get("Children's Services").get("Children & Families Social Work") %}
                    {% include "GroupOverviewTable.html" %}
                {% endwith %}
                {% with %}
                    {% set GroupTitle = "Early Years" %}
                    {% set id = "EarlyYears_GroupTable" %}
                    {% set Group = GroupedLatestDataDict.get("Children's Services").get("Early Years") %}
                    {% include "GroupOverviewTable.html" %}
                {% endwith %}
            </div>
            <div id="column2">
                {% with %}
                    {% set GroupTitle = "Employment" %}
                    {% set id = "Employment_GroupTable" %}
                    {% set Group = GroupedLatestDataDict.get("Children's Services").get("Employment") %}
                    {% include "GroupOverviewTable.html" %}
                {% endwith %}
                {% with %}
                    {% set GroupTitle = "Other" %}
                    {% set id = "Other_GroupTable" %}
                    {% set Group = GroupedLatestDataDict.get("Children's Services").get("Other") %}
                    {% include "GroupOverviewTable.html" %}
                {% endwith %}
                {% with %}
                    {% set GroupTitle = "Primary Schools" %}
                    {% set id = "PrimarySchools_GroupTable" %}
                    {% set Group = GroupedLatestDataDict.get("Children's Services").get("Primary Schools") %}
                    {% include "GroupOverviewTable.html" %}
                {% endwith %}
                {% with %}
                    {% set GroupTitle = "School Attendance" %}
                    {% set id = "SchoolAttendance_GroupTable" %}
                    {% set Group = GroupedLatestDataDict.get("Children's Services").get("School Attendance") %}
                    {% include "GroupOverviewTable.html" %}
                {% endwith %}
                {% with %}
                    {% set GroupTitle = "School Leaver Tariff" %}
                    {% set id = "SchoolLeaverTariff_GroupTable" %}
                    {% set Group = GroupedLatestDataDict.get("Children's Services").get("School Leaver Tariff") %}
                    {% include "GroupOverviewTable.html" %}
                {% endwith %}
            </div>
        </section>
    </body>
</html>