<!DOCTYPE html>
<html>
    <head>
        <link rel ="stylesheet" href = "../Styles/main_styles.css"/>
        <link rel="stylesheet" href="../Styles/Roads_styles.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"/>
    </head>
    <body>
        <section class="page landscape" id="Roads">
            <div class = "titlebar">
                {% with %}
                    {% set PageTitle = "Roads" %}
                        {% include "Header.html" %}
                {% endwith %}
            </div>
            <div class = "sidebar">
                {% include "Sidebar.html" %}
            </div>
            <div class = "datacard" id="ENV04a_datacard">
                {% with %}
                    {% set Indicator = LatestData['ENV 04a'] %}
                        {% include "DataCard.html"%}
                {% endwith %}
            </div>
            <div class = "datacard" id="ENV04b_datacard">
                {% with %}
                    {% set Indicator = LatestData['ENV 04b'] %}
                        {% include "DataCard.html"%}
                {% endwith %}
            </div> <div class = "datacard" id="ENV04c_datacard">
                {% with %}
                    {% set Indicator = LatestData['ENV 04c'] %}
                        {% include "DataCard.html"%}
                {% endwith %}
            </div> <div class = "datacard" id="ENV04d_datacard">
                {% with %}
                    {% set Indicator = LatestData['ENV 04d'] %}
                        {% include "DataCard.html"%}
                {% endwith %}
            </div> <div class = "datacard" id="ENV04e_datacard">
                {% with %}
                    {% set Indicator = LatestData['ENV 04e'] %}
                        {% include "DataCard.html"%}
                {% endwith %}

            </div>
            <div class = "commentbox" id = "main_commentbox">
                <p>
               
                <p>
                    While reduced traffic volumes and targeting of repair works during the COVID-19 period will also have had an impact, it is also possible that milder winters (a result of climate change) are resulting in improvements in condition nationally, especially for authorities where more severe winters have impacted in previous years. 
                    <br>
                    <br>
                    The SCOTS (Society of Chief Officers of Transportation in Scotland) Backlog and Steady State Model 2019 document details that the headline backlog figure is £49.8m (in 2019 when the model was run), this indicates funding required to treat all defects in red and amber categories (defective in some way) and to remove all of these defects.  This figure will have increased given the volatile material price market since Brexit and Covid pandemic. 
                    <br>
                    <br>
                    The “steady state” figure of £6.07m i.e. to keep the road network in it's current condition. This is the sum (as of 2019) required to maintain Stirling’s road network in its condition at that point in time.  The Capital budget for years 2019/20 was £5,307,123. In 20/21 it was
                    £3,250,000
                    <br>
                    <br>
                    Given that our RCI (Road Condition Index) figure has only declined by 0.2% since then, the sum will not have changed only to account for the volatile material price market rises.
                    <br>
                    <br>
                    The Service continues to implement asset management principles per the national Road Asset Management Project as supported by SCOTS and this work continues at pace to embed this in service delivery to ensure that existing capital budgets provide Best Value and Value for Money this extending the life of the road network and programming interventions at optimum points
                </p>
                
            </div>
            <div class="graphtable_card" id="ENV04a_graphtable_card">
                {% with %}
                    {% set Title = LatestData['ENV 04a']['Title'] %}
                    {% set Graph =  "../Graphs/ENV%2004a_Line.svg" %}
                    {% set FGRankData = LatestData['ENV 04a']['timeseries'] %}
                        {% include "GraphTableCard.html"%}
                {% endwith %}
            </div>
            <div class="graphtable_card" id="ENV04b_graphtable_card">
                {% with %}
                    {% set Title = LatestData['ENV 04b']['Title'] %}
                    {% set Graph =  "../Graphs/ENV%2004b_Line.svg" %}
                    {% set FGRankData = LatestData['ENV 04b']['timeseries'] %}
                        {% include "GraphTableCard.html"%}
                {% endwith %}
            </div>
            <div class="graphtable_card" id="ENV04c_graphtable_card">
                {% with %}
                    {% set Title = LatestData['ENV 04c']['Title'] %}
                    {% set Graph =  "../Graphs/ENV%2004c_Line.svg" %}
                    {% set FGRankData = LatestData['ENV 04c']['timeseries'] %}
                        {% include "GraphTableCard.html"%}
                {% endwith %}
            </div> 
            <div class="graphtable_card" id="ENV04d_graphtable_card">
                {% with %}
                    {% set Title = LatestData['ENV 04d']['Title'] %}
                    {% set Graph =  "../Graphs/ENV%2004d_Line.svg" %}
                    {% set FGRankData = LatestData['ENV 04d']['timeseries'] %}
                        {% include "GraphTableCard.html"%}
                {% endwith %}
            </div>
            <div class="graphtable_card" id="ENV04e_graphtable_card">
                {% with %}
                    {% set Title = LatestData['ENV 04e']['Title'] %}
                    {% set Graph =  "../Graphs/ENV%2004e_Line.svg" %}
                    {% set FGRankData = LatestData['ENV 04e']['timeseries'] %}
                        {% include "GraphTableCard.html"%}
                {% endwith %}
            </div>
        </section>
    </body>
</html>