<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../Styles/main_styles.css" />
        <link rel="stylesheet" href="../Styles/overview_styles.css" />
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" />
    </head>

    <body>
        <section class="page landscape" id="Overview">
            <div class="titlebar">
                {% with %}
                {% set PageTitle = "Overview" %}
                {% include "Header.html" %}
                {% endwith %}
            </div>
            <div class="sidebar">
                {% include "Sidebar.html" %}
            </div>
            <div id = "ChildrensServices_GroupTable">
                {% with %}
                {% set GroupTitle = "Children's Services" %}
                {% set GroupData = GroupedLatestDataDict.get("Children's Services") %}
                {% include "GroupOverviewTable.html" %}
                {% endwith %}
            </div>
            </div>
        </section>
    </body>
</html>