<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../Styles/main_styles.css" />
        <link rel="stylesheet" href="../Styles/<!DOCTYPE html>
        <html>
            <head>
                <link rel="stylesheet" href="../Styles/main_styles.css" />
                <link rel="stylesheet" href="../Styles/PropertyandAssets_styles.css" />
                <link rel="stylesheet"
                    href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" />
            </head>
            <body>
                <section class="page landscape" id="PropertyandAssets">
                    <div class="titlebar">
                        {% with %}
                            {% set PageTitle = "Property and Assets" %}
                            {% include "Header.html" %}
                        {% endwith %}
                    </div>
                    <div class="sidebar">
                        {% include "Sidebar.html" %}
                    </div>
                    <div class="datacard" id="HSN03_datacard">
                        {% with %}
                            {% set Indicator = LatestData['HSN 03'] %}
                            {% include "DataCard.html"%}
                        {% endwith %}
                    </div>
                    <div class="datacard" id="HSN04b_datacard">
                        {% with %}
                            {% set Indicator = LatestData['HSN 04b'] %}
                            {% include "DataCard.html"%}
                        {% endwith %}
                    </div>
                    <div class="datacard" id="HSN05a_datacard">
                        {% with %}
                            {% set Indicator = LatestData['HSN 05a'] %}
                            {% include "DataCard.html"%}
                        {% endwith %}
                    </div>
                    <div class="commentbox" id="main_commentbox">
                        <p>
                            Stirling Council recorded an improvement in performance in 2020/21 despite the impact of the Coronavirus pandemic and remains above the Scottish local authority average of 86.35% with 93.12% of Stirling Council social rented properties recorded as meeting compliance with the Energy Efficiency Standard for Social Housing (EESSH1) standard at 31st March 2021.
                    <br><br>
Our investment in energy efficiency measures continues in order to ensure that we maximise our compliance with the new Energy Efficiency Standard for Social Housing 2 (EESSH2) that requires all Scottish Registered Social Landlords to strive to achieve an energy efficiency rating of 'B' or above for all social rented stock by 2032. Investment in energy efficiency measures to date has resulted in 57.5% (3,311 homes) of our housing stock already meeting the new 2032 target.
<br><br>
    Achieving a rating of 'B' or above removes the energy efficiency of a property as one of the four drivers of fuel poverty.

                        </p>
                     
                   
                    
                    </div>
                    <div class="graphtable_card" id="HSN03_graphtable_card">
                        {% with %}
                        {% set Title = LatestData['HSN 03']['Title'] %}
                        {% set Graph = "../Graphs/HSN%2003_Line.svg" %}
                        {% set FGRankData = LatestData['HSN 03']['timeseries'] %}
                        {% include "GraphTableCard.html"%}
                        {% endwith %}
                    </div>
                    <div class="graphtable_card" id="HSN04b_graphtable_card">
                        {% with %}
                        {% set Title = LatestData['HSN 04b']['Title'] %}
                        {% set Graph = "../Graphs/HSN%2004b_Line.svg" %}
                        {% set FGRankData = LatestData['HSN 04b']['timeseries'] %}
                        {% include "GraphTableCard.html"%}
                        {% endwith %}
                    </div>
                    <div class="graphtable_card" id="HSN05a_graphtable_card">
                        {% with %}
                        {% set Title = LatestData['HSN 05a']['Title'] %}
                        {% set Graph = "../Graphs/HSN%2005a_Line.svg" %}
                        {% set FGRankData = LatestData['HSN 05a']['timeseries'] %}
                        {% include "GraphTableCard.html"%}
                        {% endwith %}
                    </div>
            </body>
        </section>
        </body>
        </html>
    