<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../Styles/main_styles.css" />
    <link rel="stylesheet" href="../Styles/EcoD_styles.css" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" />
</head>

<body>
    <section class="page landscape" id="EconomicGrowth">
        <div class="titlebar">
            {% with %}
                {% set PageTitle = "Economic Growth" %}
                {% include "Header.html" %}
            {% endwith %}
        </div>
        <div class="sidebar">
            {% include "Sidebar.html" %}
        </div>
        <div class="datacard" id="econ04_datacard">
            {% with %}
                {% set Indicator = LatestData['ECON 04'] %}
                {% include "DataCard.html"%}
            {% endwith %}
        </div>
        <div class="datacard" id="econ05_datacard">
            {% with %}
                {% set Indicator = LatestData['ECON 05'] %}
                {% include "DataCard.html"%}
            {% endwith %}
        </div>
        <div class="datacard" id="econ06_datacard">
            {% with %}
                {% set Indicator = LatestData['ECON 06'] %}
                {% include "DataCard.html"%}
            {% endwith %}
        </div>
        <div class="datacard" id="econ08_datacard">
            {% with %}
                {% set Indicator = LatestData['ECON 08'] %}
                {% include "DataCard.html"%}
            {% endwith %}
        </div>
        <div class="datacard" id="econ09_datacard">
            {% with %}
                {% set Indicator = LatestData['ECON 09'] %}
                {% include "DataCard.html"%}
            {% endwith %}
        </div>
        <div class="datacard" id="econ10_datacard">
            {% with %}
            {% set Indicator = LatestData['ECON 10'] %}
            {% include "DataCard.html"%}
            {% endwith %}
        </div>
        <div class="datacard" id="econ11_datacard">
            {% with %}
            {% set Indicator = LatestData['ECON 11'] %}
            {% include "DataCard.html"%}
            {% endwith %}
        </div>
        <div class="commentbox" id="main_commentbox">
            <p>
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            </p>
        </div>
        <div class="graphtable_card" id="econ04_graphtable_card">
            {% with %}
                {% set Title = LatestData['ECON 04']['Title'] %}
                {% set Graph = "../Graphs/ECON%2004_Line.svg" %}
                {% set FGRankData = LatestData['ECON 04']['timeseries'] %}
                {% include "GraphTableCard.html"%}
            {% endwith %}
        </div>
        <div class="graphtable_card" id="econ05_graphtable_card">
            {% with %}
                {% set Title = LatestData['ECON 05']['Title'] %}
                {% set Graph = "../Graphs/ECON%2005_Line.svg" %}
                {% set FGRankData = LatestData['ECON 05']['timeseries'] %}
                {% include "GraphTableCard.html"%}
            {% endwith %}
        </div>
        <div class="graphtable_card" id="econ06_graphtable_card">
            {% with %}
                {% set Title = LatestData['ECON 06']['Title'] %}
                {% set Graph = "../Graphs/ECON%2006_Line.svg" %}
                {% set FGRankData = LatestData['ECON 06']['timeseries'] %}
                {% include "GraphTableCard.html"%}
            {% endwith %}
        </div>
        <div class="graphtable_card" id="econ08_graphtable_card">
            {% with %}
                {% set Title = LatestData['ECON 08']['Title'] %}
                {% set Graph = "../Graphs/ECON%2008_Line.svg" %}
                {% set FGRankData = LatestData['ECON 08']['timeseries'] %}
                {% include "GraphTableCard.html"%}
            {% endwith %}
        </div>
        <div class="graphtable_card" id="econ09_graphtable_card">
            {% with %}
                {% set Title = LatestData['ECON 09']['Title'] %}
                {% set Graph = "../Graphs/ECON%2009_Line.svg" %}
                {% set FGRankData = LatestData['ECON 09']['timeseries'] %}
                {% include "GraphTableCard.html"%}
            {% endwith %}
        </div>
        <div class="graphtable_card" id="econ10_graphtable_card">
            {% with %}
                {% set Title = LatestData['ECON 10']['Title'] %}
                {% set Graph = "../Graphs/ECON%2010_Line.svg" %}
                {% set FGRankData = LatestData['ECON 10']['timeseries'] %}
                {% include "GraphTableCard.html"%}
            {% endwith %}
        </div>
        <div class="graphtable_card" id="econ11_graphtable_card">
            {% with %}
                {% set Title = LatestData['ECON 11']['Title'] %}
                {% set Graph = "../Graphs/ECON%2011_Line.svg" %}
                {% set FGRankData = LatestData['ECON 11']['timeseries'] %}
                {% include "GraphTableCard.html"%}
            {% endwith %}
        </div>
    </section>
</body>
</html>