<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../Styles/main_styles.css" />
    <link rel="stylesheet" href="../Styles/Leisure+Attr_styles.css" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" />
</head>

<body>
    <section class="page landscape" id="Leisure Facilities & Attractions">
        <div class="titlebar">
            {% with %}
                {% set PageTitle = "Leisure Facilities & Attractions" %}
                {% include "Header.html" %}
            {% endwith %}
        </div>
        <div class="sidebar">
            {% include "Sidebar.html" %}
        </div>
        <div class="datacard" id="c_l01_datacard">
            {% with %}
                {% set Indicator = LatestData['C&L 01'] %}
                {% include "DataCard.html"%}
            {% endwith %}
        </div>
        <div class="datacard" id="c_l02_datacard">
            {% with %}
                {% set Indicator = LatestData['C&L 02'] %}
                {% include "DataCard.html"%}
            {% endwith %}
        </div>
        <div class="datacard" id="c_l03_datacard">
            {% with %}
                {% set Indicator = LatestData['C&L 03'] %}
                {% include "DataCard.html"%}
            {% endwith %}
        </div>
        <div class="datacard" id="c_l05a_datacard">
            {% with %}
                {% set Indicator = LatestData['C&L 05a'] %}
                {% include "DataCard.html"%}
            {% endwith %}
        </div>
        <div class="datacard" id="c_l05c_datacard">
            {% with %}
                {% set Indicator = LatestData['C&L 05c'] %}
                {% include "DataCard.html"%}
            {% endwith %}
        </div>
        <div class="datacard" id="c_l05d_datacard">
            {% with %}
            {% set Indicator = LatestData['C&L 05d'] %}
            {% include "DataCard.html"%}
            {% endwith %}
        </div>
        <div class="commentbox" id="main_commentbox">
            <p>
                The library cost per visit is up slightly at £3.05 rather than £2.32 in 2019-10, but the higher figure is in line with previous years.  
                Visitor numbers for all library services dropped significantly in 20-21 with enforced closures due to COVID.  
                <br>
                In Stirling visits fell from 1,007,096 in 2019-20 to 686,561.  This reflects the fact that from March until July 2020 our service had to be delivered online-only.  
                During this period, we invested in online resources and promoted e-books, e-audio books, newspapers and magazines available online.  This resulted in a huge increase in online use.  
                <br><br>
                From 17th March 2020 when Lockdown began to 31st March 21, Stirling Libraries issued a total of 35233 e-books. As soon as we were able to do so, we offered a Select and Collect service where books could be requested and collected from library entrances and from mobile library vehicles.  
                
                This ran from July to December 2020, with some libraries opening briefly for browsing and computer access in November and December before all physical services were forced to close again in the New Year.   They remained closed until April 2021.  During the six-month period where physical books could be lent, a total of 51,300 physical books were borrowed. 
                
                Stirling Libraries have adapted to changing conditions and made the service available as widely and safely as restrictions allowed at every stage.  All libraries opened for browsing and computer use in August 2021.  
                
                We are gradually re-introducing groups and activities, starting with the larger libraries.
            </p>
        </div>
        <div class="graphtable_card" id="c_l01_graphtable_card">
            {% with %}
                {% set Title = LatestData['C&L 01']['Title'] %}
                {% set Graph = "../Graphs/C&L%2001_Line.svg" %}
                {% set FGRankData = LatestData['C&L 01']['timeseries'] %}
                {% include "GraphTableCard.html"%}
            {% endwith %}
        </div>
        <div class="graphtable_card" id="c_l02_graphtable_card">
            {% with %}
                {% set Title = LatestData['C&L 02']['Title'] %}
                {% set Graph = "../Graphs/C&L%2002_Line.svg" %}
                {% set FGRankData = LatestData['C&L 02']['timeseries'] %}
                {% include "GraphTableCard.html"%}
            {% endwith %}
        </div>
        <div class="graphtable_card" id="c_l03_graphtable_card">
            {% with %}
                {% set Title = LatestData['C&L 03']['Title'] %}
                {% set Graph = "../Graphs/C&L%2003_Line.svg" %}
                {% set FGRankData = LatestData['C&L 03']['timeseries'] %}
                {% include "GraphTableCard.html"%}
            {% endwith %}
        </div>
        <div class="graphtable_card" id="c_l05a_graphtable_card">
            {% with %}
                {% set Title = LatestData['C&L 05a']['Title'] %}
                {% set Graph = "../Graphs/C&L%2005a_Line.svg" %}
                {% set FGRankData = LatestData['C&L 05a']['timeseries'] %}
                {% include "GraphTableCard.html"%}
            {% endwith %}
        </div>
        <div class="graphtable_card" id="c_l05c_graphtable_card">
            {% with %}
                {% set Title = LatestData['C&L 05c']['Title'] %}
                {% set Graph = "../Graphs/C&L%2005c_Line.svg" %}
                {% set FGRankData = LatestData['C&L 05c']['timeseries'] %}
                {% include "GraphTableCard.html"%}
            {% endwith %}
        </div>
        <div class="graphtable_card" id="c_l05d_graphtable_card">
            {% with %}
                {% set Title = LatestData['C&L 05d']['Title'] %}
                {% set Graph = "../Graphs/C&L%2005d_Line.svg" %}
                {% set FGRankData = LatestData['C&L 05d']['timeseries'] %}
                {% include "GraphTableCard.html"%}
            {% endwith %}
        </div>
    </section>
</body>
</html>