<!DOCTYPE html>
<html>
    <head>
        <link rel ="stylesheet" href = "../Styles/main_styles.css"/>
        <link rel="stylesheet" href="../Styles/Employment_styles.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"/>
    </head>
    <body>
        <section class="page landscape" id="Employment">
            <div class = "titlebar">
                {% with %}
                    {% set PageTitle = "Employment" %}
                        {% include "Header.html" %}
                {% endwith %}
            </div>
            <div class = "sidebar">
                {% include "Sidebar.html" %}
            </div>
            <div class = "datacard" id="ECON01_datacard">
                {% with %}
                    {% set Indicator = LatestData['ECON 01'] %}
                        {% include "DataCard.html"%}
                {% endwith %}
            </div>
            <div class = "datacard" id="ECON07_datacard">
                {% with %}
                    {% set Indicator = LatestData['ECON 07'] %}
                        {% include "DataCard.html"%}
                {% endwith %}
            </div> <div class = "datacard" id="ECON12a_datacard">
                {% with %}
                    {% set Indicator = LatestData['ECON 12a'] %}
                        {% include "DataCard.html"%}
                {% endwith %}
            </div> <div class = "datacard" id="ECON12b_datacard">
                {% with %}
                    {% set Indicator = LatestData['ECON 12b'] %}
                        {% include "DataCard.html"%}
                {% endwith %}
            </div>
            <div class = "datacard" id="CHN21_datacard">
            {% with %}
                {% set Indicator = LatestData['CHN 21'] %}
                    {% include "DataCard.html"%}
            {% endwith %}
            </div>

            <div class = "commentbox" id = "main_commentbox">
                <p>
                    Stirling's overall data in this section is positive, comparing well both with comparator Councils and nationally. This is positive at a Council wide level. Targeted work continues in locality action  plan areas to reduce the socio economic gap between these communities and the Council wide position. 
    
                </p>
                
            </div>
            <div class="graphtable_card" id="ECON01_graphtable_card">
                {% with %}
                    {% set Title = LatestData['ECON 01']['Title'] %}
                    {% set Graph =  "../Graphs/ECON%2001_Line.svg" %}
                    {% set FGRankData = LatestData['ECON 01']['timeseries'] %}
                        {% include "GraphTableCard.html"%}
                {% endwith %}
            </div>
            <div class="graphtable_card" id="ECON07_graphtable_card">
                {% with %}
                    {% set Title = LatestData['ECON 07']['Title'] %}
                    {% set Graph =  "../Graphs/ECON%2007_Line.svg" %}
                    {% set FGRankData = LatestData['ECON 07']['timeseries'] %}
                        {% include "GraphTableCard.html"%}
                {% endwith %}
            </div><div class="graphtable_card" id="ECON12a_graphtable_card">
                {% with %}
                    {% set Title = LatestData['ECON 12a']['Title'] %}
                    {% set Graph =  "../Graphs/ECON%2012a_Line.svg" %}
                    {% set FGRankData = LatestData['ECON 12a']['timeseries'] %}
                        {% include "GraphTableCard.html"%}
                {% endwith %}
            </div><div class="graphtable_card" id="ECON12b_graphtable_card">
                {% with %}
                    {% set Title = LatestData['ECON 12b']['Title'] %}
                    {% set Graph =  "../Graphs/ECON%2012b_Line.svg" %}
                    {% set FGRankData = LatestData['ECON 12b']['timeseries'] %}
                        {% include "GraphTableCard.html"%}
                {% endwith %}
            </div>
            <div class="graphtable_card" id="CHN21_graphtable_card">
                {% with %}
                    {% set Title = LatestData['CHN 21']['Title'] %}
                    {% set Graph =  "../Graphs/CHN%2021_Line.svg" %}
                    {% set FGRankData = LatestData['CHN 21']['timeseries'] %}
                        {% include "GraphTableCard.html"%}
                {% endwith %}
            </div>


        </section>
    </body>
</html>