<div id = {{id}} class = "GroupOverviewTable">
<h3>{{GroupTitle}}</h3>
    <table>
        <thead>
            <tr>
                <th>Indicator</th>
                <th>Period</th>
                <th>Value</th>
                <th>Previous Value</th>
                <th>Rank (FG)</th>
                <th>Previous Rank (FG)</th>
                <th>Rank (Scotland)</th>
                <th>Previous Rank (Scotland)</th>
            </tr>
        </thead>
        <tbody>
            {% for key, value in Group.items() %}
                <tr>
                    <td>{{key}}: {{value.Title}}</td>
                    <td>{{value.Period}}</td>
                    <td><p>{{value.Real_Value_Formatted}}</p>
                        {% if value.Changes_PercentChange_AimAdjusted_SincePrevious > 0 %}
                            <object class = "red" data="../Icons/trending_up.svg"> </object>
                        {% elif value.Changes_PercentChange_AimAdjusted_SincePrevious < 0 %}
                            <object class = "green" data="../Icons/trending_down.svg"> </object>
                        {% elif value.Changes_PercentChange_AimAdjusted_SincePrevious == 0 %}
                            <object class = "grey" data="../Icons/trending_flat.svg"> </object>
                        {% else %}
                            Error
                        {% endif %}
                    </td>
                    <td>{{value.Previous_Row_Real_Value}}</td>
                    <td>
                        <p>{{value.FamilyRank|int}}</p>
                        {% if value.Changes_FamilyRank_ChangeSincePrevious > 0 %}
                            <object class = "red" data="../Icons/expand_less.svg"> </object>
                        {% elif value.Changes_FamilyRank_ChangeSincePrevious < 0 %} 
                            <object class = "green" data="../Icons/expand_more.svg"> </object>
                        {% elif value.Changes_FamilyRank_ChangeSincePrevious == 0 %}
                            <object class = "grey" data="../Icons/horizontal_rule.svg"> </object>
                        {% else %}
                            Error
                        {% endif %}
                    </td>
                    <td>{{value.Previous_Row_FamilyRank|int}}</td>
                    <td>
                        <p>{{value.ScotRank|int}}</p>
                        {% if value.Changes_ScotRank_ChangeSincePrevious > 0 %}
                            <object class = "red" data="../Icons/expand_less.svg"></object>
                        {% elif value.Changes_ScotRank_ChangeSincePrevious < 0 %} 
                            <object class = "green" data="../Icons/expand_more.svg"></object>
                        {% elif value.Changes_ScotRank_ChangeSincePrevious == 0 %}
                            <object class = "grey" data="../Icons/horizontal_rule.svg"></object>
                        {% else %}
                            Error
                        {% endif %}
                    </td>
                    <td>{{value.Previous_Row_ScotRank|int}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>