<div class="title">
    {{Indicator['Code_Sortable']}}: {{Indicator['Title']}}
</div>
<div class="period">
    {{Indicator['Period']}}
</div>
<div class="icon">
    {% if Indicator['Changes']['PercentChange_AimAdjusted_SincePrevious'] > 0 and Indicator['Changes']['Real_Value_ChangeSincePrevious'] > 0 %}
        <object class = "red" data="../Icons/Arrow_Circle_Up.svg"></object>
    {% elif Indicator['Changes']['PercentChange_AimAdjusted_SincePrevious'] > 0 and Indicator['Changes']['Real_Value_ChangeSincePrevious'] < 0 %}
        <object class = "red" data="../Icons/Arrow_Circle_Down.svg"></object>
    {% elif Indicator['Changes']['PercentChange_AimAdjusted_SincePrevious'] < 0 and Indicator['Changes']['Real_Value_ChangeSincePrevious'] < 0 %}
        <object class = "green" data="../Icons/Arrow_Circle_Down.svg"></object>
    {% elif Indicator['Changes']['PercentChange_AimAdjusted_SincePrevious'] < 0 and Indicator['Changes']['Real_Value_ChangeSincePrevious'] > 0 %}
        <object class = "green" data="../Icons/Arrow_Circle_up.svg"></object>
    {% elif Indicator['Changes']['PercentChange_AimAdjusted_SincePrevious'] == 0 %}
        <object class = "grey" data="../Icons/trending_flat.svg"></object>
    {% else %}
        Error
    {% endif %}
</div>
<p class="performanceChange">
    {% if Indicator['Changes']['PercentChange_AimAdjusted_SincePrevious'] > 0 %}
        Improving &
    {% elif Indicator['Changes']['PercentChange_AimAdjusted_SincePrevious'] < 0 %}
        Deteriorating &
    {% elif Indicator['Changes']['PercentChange_AimAdjusted_SincePrevious'] == 0 %}
        Stable &
    {% else %}
        Error
    {% endif %}
     {% if Indicator['Changes']['Real_Value_ChangeSincePrevious'] > 0 %}
        Increasing
    {% elif Indicator['Changes']['Real_Value_ChangeSincePrevious'] < 0 %} 
        Decreasing 
    {% elif Indicator['Changes']['Real_Value_ChangeSincePrevious']==0 %} 
        No Change
    {% else %} 
        Error 
    {% endif %}
</p>
<div class = "rank">
    <object data="../Icons/Filled_Circle.svg"></object>
    <p>#{{Indicator['FamilyRank']|int}}</p>
</div>
<div class="value">
    {{Indicator['Real_Value_Formatted']}}
</div>