/* --------------------------------------------------------------
Consistant Variables
-------------------------------------------------------------- */
:root {
    --DatacardRow: 2 / 4;
    --Column1: 2 / 11;
    --Column2: 12 / 21;
}

/* --------------------------------------------------------------
   Page breaker 
   *Use for 2 + 2 pages.  
-------------------------------------------------------------- */
.wrapper {
    display: grid;
    grid-template-columns: repeat(10, minmax(0, 1fr));
    grid-template-rows: repeat(20, minmax(0, 1fr));
    grid-column: 11 / 12;
    grid-row: 1 / 23;
    background-color: var(#ffffff)
}

.item {
    grid-column: 6 / 7;
    grid-row: 1 / 23;
    background-color: var(--main-bg-color);
    width: 3px;
}

/* --------------------------------------------------------------
   Datacard Positioning. datacard class style can be found in main_styles
-------------------------------------------------------------- */
.column1.indicator_datacardrow{
    grid-column: var(--Column1);
    grid-row: var(--DatacardRow);
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

#column1_indicator1_datacard {
    grid-column: 1/2;
    grid-row: 1/2;
}
#column1_indicator2_datacard {
    grid-column: 2/3;
    grid-row: 1/2;
}
.column2.indicator_datacardrow{
    grid-column: var(--Column2);
    grid-row: var(--DatacardRow);
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
#column2_indicator1_datacard {
    grid-column: 1/2;
    grid-row: 1/2;
}
#column2_indicator2_datacard {
    grid-column: 2/3;
    grid-row: 1/2;
}
/* --------------------------------------------------------------
   GraphTable Card Positioning. graphtable_card class style can be found in main_styles
-------------------------------------------------------------- */
#column1_indicator1_graphtable_card {
    grid-column:  var(--Column1);
    grid-row: 5 / 13 ;
}
#column1_indicator2_graphtable_card {
    grid-column: var(--Column1);
    grid-row: 14 / 22;
}
#column2_indicator1_graphtable_card {
    grid-column: var(--Column2);
    grid-row: 5 / 13;
}
#column2_indicator2_graphtable_card {
    grid-column: var(--Column2);
    grid-row: 14 / 22;
}

/* --------------------------------------------------------------
   Title bar h4 
   *for second title bar. Move to main_styles in future.  
-------------------------------------------------------------- */
.material-icons-round.md-48 {
    font-size: 50px;
}


/*------------------------------------------------------------------
FOR PRINTING HTML TO PDF FORMATING BUG
-------------------------------------------------------------------*/

table {
    width: 152.32px;
    Height:229.09px
}