/* --------------------------------------------------------------
Consistant Variables
-------------------------------------------------------------- */
:root {
    --DatacardRow: 2 / 4;
    --Column1: 2 / 11;
    --Column2: 12 / 21;
}
/* --------------------------------------------------------------
   Main Element Positioning. Report styles can be found in main_styles
-------------------------------------------------------------- */
#main_commentbox {
    grid-column: var(--Column1);
    grid-row: 4/14;
}
/* --------------------------------------------------------------
   Datacard Positioning. datacard class style can be found in main_styles
-------------------------------------------------------------- */
#indicator1_datacard {
    grid-column: 2/7;
    grid-row: var(--DatacardRow);
}
#indicator2_datacard {
    grid-column: 9/14;
    grid-row: var(--DatacardRow);
}
#indicator3_datacard {
    grid-column: 16/21;
    grid-row: var(--DatacardRow);
}
/* --------------------------------------------------------------
   GraphTable Card Positioning. graphtable_card class style can be found in main_styles
-------------------------------------------------------------- */
#indicator1_graphtable_card{
    grid-column: var(--Column2);
    grid-row: 5/13;
}
#indicator2_graphtable_card{
    grid-column: var(--Column2);
    grid-row: 14/22;
}
#indicator3_graphtable_card{
    grid-column: var(--Column1);
    grid-row: 14/22;
}

