/* --------------------------------------------------------------
   Datacard Positioning. datacard class style can be found in main_styles
-------------------------------------------------------------- */
#indicator_datacardrow {
    grid-column: 2 / 21;
    grid-row: var(--DatacardRow);
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    column-gap: var(--Gap)/*15px*/;
    padding-bottom: 10px;
}
#indicator1_datacard {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
#indicator2_datacard {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
#indicator3_datacard {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
#indicator4_datacard {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}
#indicator5_datacard {
    grid-column: 5 / 6;
    grid-row: 1 / 2;
}
/* --------------------------------------------------------------
   GraphTable Card Positioning. graphtable_card class style can be found in main_styles
-------------------------------------------------------------- */
#graphtablecardcolumns{
    grid-column: 2 / 21;
    grid-row: 5 / 22;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
    column-gap: var(--Gap);
    row-gap: var(--Gap);
}
#indicator1_graphtable_card {
    grid-column: 2 / 3;
    grid-row: 1 / 2 ;
}
#indicator2_graphtable_card {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
#indicator3_graphtable_card {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
#indicator4_graphtable_card {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
#indicator5_graphtable_card {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
table {
    width:  152.31px;
    Height: 229.08px;
}