/* --------------------------------------------------------------
Consistant Variables
-------------------------------------------------------------- */
:root{
    --DatacardRow: 2 / 5;
    --DatacardHeight: 80%;
    --GraphtablecardColumn1: 2 / 11;
    --GraphtablecardColumn2: 12 / 21;
    --GraphtablecardHeight: 110%;
    --GraphtablecardTopMargin: 35px;
}
/* --------------------------------------------------------------
   Main Element Positioning. Report styles can be found in main_styles
-------------------------------------------------------------- */
#main_commentbox {
    grid-column: 2 / 21;
    grid-row: 4/ 7;
    padding-top:30px;
}
/* --------------------------------------------------------------
   Datacard Positioning. datacard class style can be found in main_styles
-------------------------------------------------------------- */
#indicator_datacardrow {
    grid-column: 2 / 21;
    grid-row: var(--DatacardRow);
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    column-gap: 15px;
} 
#indicator1_datacard {
    grid-column: 1 / 2;
    height: var(--DatacardHeight);
}
#indicator2_datacard {
    grid-column: 2 / 3;
    height: var(--DatacardHeight);
}
#indicator3_datacard {
    grid-column: 3 / 4;
    height: var(--DatacardHeight);
}
#indicator4_datacard {
    grid-column: 4 / 5;
    height: var(--DatacardHeight);
}
#indicator5_datacard {
    grid-column: 5/ 6;
    height: var(--DatacardHeight);
}
#indicator6_datacard {
    grid-column: 6 / 7;
    height: var(--DatacardHeight);
}
/* --------------------------------------------------------------
   GraphTable Card Positioning. graphtable_card class style can be found in main_styles
-------------------------------------------------------------- */
#indicator1_graphtable_card {
    grid-column:  var(--GraphtablecardColumn1);
    grid-row: 7 / 11 ;
    height: var(--GraphtablecardHeight);
    margin-top: var(--GraphtablecardTopMargin);
}
#indicator2_graphtable_card {
    grid-column: var(--GraphtablecardColumn1);
    grid-row: 12 / 16;
    height: var(--GraphtablecardHeight);
    margin-top: var(--GraphtablecardTopMargin);
}
#indicator3_graphtable_card {
    grid-column: var(--GraphtablecardColumn1);
    grid-row: 17/ 21;
    height: var(--GraphtablecardHeight);
    margin-top: var(--GraphtablecardTopMargin);
}
#indicator4_graphtable_card {
    grid-column: var(--GraphtablecardColumn2);
    grid-row: 7/ 11 ;
    height: var(--GraphtablecardHeight);
    margin-top: var(--GraphtablecardTopMargin);
}
#indicator5_graphtable_card {
    grid-column: var(--GraphtablecardColumn2);
    grid-row: 12 / 16;
    height: var(--GraphtablecardHeight);
    margin-top: var(--GraphtablecardTopMargin);
}
#indicator6_graphtable_card {
    grid-column: var(--GraphtablecardColumn2);
    grid-row: 17/ 21;
    height: var(--GraphtablecardHeight);
    margin-top: var(--GraphtablecardTopMargin);
}