/* --------------------------------------------------------------
   Main Element Positioning. Report styles can be found in main_styles
-------------------------------------------------------------- */
#main_commentbox {
    grid-column: 13 / 21;
    grid-row: 2/ 8;
}
/* --------------------------------------------------------------
   Datacard Positioning. datacard class style can be found in main_styles
-------------------------------------------------------------- */
#indicator1_datacard {
    grid-column: 2 / 4;
    grid-row: 2 / 5;
    width: 140%;
    height: 80%;
}
#indicator2_datacard {
    grid-column: 2 / 4;
    grid-row: 5 / 8;
    width: 140%;
    height: 80%; 
}
#indicator3_datacard {
    grid-column: 2 / 4;
    grid-row: 8 / 11;
    width: 140%;
    height: 80%;
}
#indicator4_datacard {
    grid-column: 2 / 4;
    grid-row: 11 / 14;
    width: 140%;
    height: 80%;
}
#indicator5_datacard {
    grid-column: 2 / 4;
    grid-row: 14 / 17;
    width: 140%;
    height: 80%;
}
#indicator6_datacard {
    grid-column:2 / 4;
    grid-row: 17 / 20;
    width: 140%;
    height: 80%;
}
#indicator7_datacard {
    grid-column: 2 / 4;
    grid-row: 20 / 23;
    width: 140%;
    height: 80%;
}
/* --------------------------------------------------------------
   GraphTable Card Positioning. graphtable_card class style can be found in main_styles
-------------------------------------------------------------- */
#indicator1_graphtable_card {
    grid-column:  13 / 20;
    grid-row: 7 / 11 ;
    height: 107%; 
    width: 115%;  
}
#indicator2_graphtable_card {
    grid-column: 13 / 20;
    grid-row: 12 / 16;
    height: 107%;
    width: 115%;
}
#indicator3_graphtable_card {
    grid-column: 13 / 20;
    grid-row: 17 / 21;
    height: 107%;
    width: 115%;
}
#indicator4_graphtable_card {
    grid-column: 5 / 12;
    grid-row: 7/ 11 ;
    height: 107%;
    width: 109%;
}
#indicator5_graphtable_card {
    grid-column: 5 / 12;
    grid-row: 12/ 16;
    height: 107%;
    width: 109%;
}
#indicator6_graphtable_card {
    grid-column: 5 / 12;
    grid-row: 17 / 21;
    height: 107%;
    width: 109%;
}
#indicator7_graphtable_card {
    grid-column: 5 / 12;
    grid-row: 2 / 6;
    height: 107%;
    width: 109%;
}