#ECON01_datacard{
    grid-column: 2/6;
    grid-row: 2/4;
}
#ECON07_datacard{
    grid-column: 7/11;
    grid-row: 2/4;
}
#ECON12a_datacard{
    grid-column: 12/16;
    grid-row: 2/4;
}
#ECON12b_datacard{
    grid-column: 17/21;
    grid-row: 2/4;
}
#main_commentbox{
    grid-column: 2/11;
    grid-row: 5/17;
    }
#ECON01_graphtable_card{
    grid-column: 12/21;
    grid-row: 5/10;
}
#ECON07_graphtable_card{
    grid-column: 12/21;
    grid-row: 11/16;
}
#ECON12a_graphtable_card{
    grid-column: 12/21;
    grid-row: 17/22;
}
#ECON12b_graphtable_card{
    grid-column: 2/11;
    grid-row: 17/22;
}