/* --------------------------------------------------------------
   Main Element Positioning. Report styles can be found in main_styles
-------------------------------------------------------------- */
#main_commentbox{
    grid-column: 2/11;
    grid-row: 5/17;
    }
/* --------------------------------------------------------------
   Datacard Positioning. datacard class style can be found in main_styles
-------------------------------------------------------------- */
#ECON01_datacard{
    grid-column: 2/6;
    grid-row: 2/4;
}
#ECON07_datacard{
    grid-column: 6/10;
    grid-row: 2/4;
}
#ECON12a_datacard{
    grid-column: 10/14;
    grid-row: 2/4;
}
#ECON12b_datacard{
    grid-column: 14/18;
    grid-row: 2/4;
}
    #CHN21_datacard{
    grid-column: 18/22;
    grid-row: 2/4;
}

/* --------------------------------------------------------------
   GraphTable Card Positioning. graphtable_card class style can be found in main_styles
-------------------------------------------------------------- */
#ECON01_graphtable_card{
    grid-column: 12/21;
    grid-row: 5/10;
}
#ECON07_graphtable_card{
    grid-column: 12/21;
    grid-row: 11/16;
}
#ECON12a_graphtable_card{
    grid-column: 12/21;
    grid-row: 17/22;
}
#ECON12b_graphtable_card{
    grid-column: 2/11;
    grid-row: 17/22;
}

/* adding number 5 */

#CHN21_graphtable_card{
    grid-column: 2/11;
    grid-row: 11/16;
}


