/* --------------------------------------------------------------
   Element Grid Positioning for All Overview Pages
-------------------------------------------------------------- */

    /* --------------------------------------------------------------
    Page1
    -------------------------------------------------------------- */
    #AdultSocialCareServices_Header {
        grid-column:2/12 ;
        grid-row:2/3 ;
    }
    #AdultCareAtHomeCare_GroupTable {
        grid-column:2/12 ;
        grid-row:3/22 ;
    }
    /* --------------------------------------------------------------
    Page2
    -------------------------------------------------------------- */
    
    /* --------------------------------------------------------------
    Page3
    -------------------------------------------------------------- */
/* --------------------------------------------------------------
   Spacing etc.
-------------------------------------------------------------- */
#Overview h2 {
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 25px;
    font-weight: bolder;
    color: var(--secondary-bg-color);
    text-align:center;
}
#Overview h3 {
    padding-top: 5px;
}
/* --------------------------------------------------------------
   Specific Table Styling
-------------------------------------------------------------- */
#Overview table td {
    font-size: 13px;
}
#Overview table td:not(:first-child) {
    padding-left: 10px;
    padding-right: 10px;
}
#Overview table td:first-child {
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    font-weight: bold;
    text-align:left ;
}

#Overview table td:not(:first-child) {
    width: 70px;
    min-width: 70px;
    max-width: 70px;
}
