#HSN03_datacard {
    grid-column: 2/7;
    grid-row: 2/4;
}
#HSN04b_datacard {
    grid-column: 9/14;
    grid-row: 2/4;
}
#HSN05a_datacard {
    grid-column: 16/21;
    grid-row: 2/4;
}
#main_commentbox {
    grid-column: 2/11;
    grid-row: 5/14;
}
#HSN03_graphtable_card{
    grid-column: 12/21;
    grid-row: 5/13;
}
#HSN04b_graphtable_card{
    grid-column: 12/21;
    grid-row: 14/22;
}
#HSN05a_graphtable_card{
    grid-column: 2/11;
    grid-row: 14/22;
}