#CHN19a_datacard{
    grid-column: 2/6;
    grid-row: 2/4;
}
#CHN19b_datacard{
    grid-column: 7/11;
    grid-row: 2/4;
}
#CHN20a_datacard{
    grid-column: 12/16;
    grid-row: 2/4;
}
#CHN20b_datacard{
    grid-column: 17/21;
    grid-row: 2/4;
}
#main_commentbox{
    grid-column: 2/11;
    grid-row: 5/17;
    }
#CHN19a_graphtable_card{
    grid-column: 12/21;
    grid-row: 5/10;
}
#CHN19b_graphtable_card{
    grid-column: 12/21;
    grid-row: 11/16;
}
#CHN20a_graphtable_card{
    grid-column: 12/21;
    grid-row: 17/22;
}
#CHN20b_graphtable_card{
    grid-column: 2/11;
    grid-row: 17/22;
}