#main_commentbox {
    grid-column: 2 / 20;
    grid-row: 5/ 7;
}



#chn02_datacard {
    grid-column: 2 / 4;
    grid-row: 2 / 5;
    width: 140%;
    height: 80%;    
}
#chn04_datacard {
    grid-column: 5 / 7;
    grid-row: 2 / 5;
    width: 140%;
    height: 80%;
}
#chn05_datacard {
    grid-column: 8 / 10;
    grid-row: 2 / 5;
    width: 140%;
    height: 80%;
}
#chn06_datacard {
    grid-column: 11 / 13;
    grid-row: 2 / 5;
    width: 140%;
    height: 80%;
}
#chn07_datacard {
    grid-column: 14 / 16;
    grid-row: 2 / 5;
    width: 140%;
    height: 80%;
}
#chn11_datacard {
    grid-column: 17 / 19;
    grid-row: 2 / 5;
    width: 140%;
    height: 80%;
}



#chn02_graphtable_card {
    grid-column:  2 / 11;
    grid-row: 8 / 12 ;
    height: 110%;
}
#chn04_graphtable_card {
    grid-column: 2 / 11;
    grid-row: 13 / 17;
    height: 110%;
}
#chn05_graphtable_card {
    grid-column: 2 /11;
    grid-row: 18/ 22;
    height: 110%;
}
#chn06_graphtable_card {
    grid-column: 12 / 20;
    grid-row: 8/ 12 ;
}
#chn07_graphtable_card {
    grid-column: 12 / 20;
    grid-row: 13/ 17;
    height: 110%;
}
#chn11_graphtable_card {
    grid-column: 12 / 20;
    grid-row: 18 / 22;
    height: 110%;
}