#env03a_datacard {
    grid-column: 2/7;
    grid-row: 2/4;
}
#env03c_datacard {
    grid-column: 9/14;
    grid-row: 2/4;
}
#env07b_datacard {
    grid-column: 16/21;
    grid-row: 2/4;
}
#main_commentbox {
    grid-column: 2/11;
    grid-row: 5/14;
}
#env03a_graphtable_card{
    grid-column: 12/21;
    grid-row: 5/13;
}
#env03c_graphtable_card{
    grid-column: 12/21;
    grid-row: 14/22;
}
#env07b_graphtable_card{
    grid-column: 2/11;
    grid-row: 14/22;
}